
  .btn{
    color:  #4bcbcc;
    
}
.container{
    background-color: #baffff;
}
.home{
    
    height: 500px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% auto;
    width: 100%;
    color:;
  }
  #git{
    height: 75px;
  }
  a{
    text-decoration: none;
    margin: 10px;
    margin-right:50px;
  }
  li{
      margin-right:50px;
  }
  nav{
    text-align: center;
    height:60px;
  }