body{
  margin: 0;
  text-align: center;
  /* padding-top: 80px; */
}
  .btn{
    color:  #4bcbcc;
    
}
.container{
    background-color: #baffff;
    padding: 16px;
    margin: 2px;
    /* margin-top: 20px;  */
}
.home{
    
 
    text-align: center;
    padding-top: 50px;
   
    
  }
  #left{
    width: 33%;
    float: left;
    margin-right: 50px;
  }
  #center{
    width: 100%;
    height: 100%;
  }
   h1{
    
    line-height: 3rem;
    animation: p 2s;
  }
  p{
    font-family: 'Quicksand', sans-serif;
    line-height: 3rem;
    animation: p 2s;
  }
  #home {
   
    line-height: 3rem;
    animation: p 2s;
  }
  .img-circle{
    height: 100px;
    max-width: 100px;
    border-radius: 50%;
    object-fit: cover;
 }
 #technology img{
  height: 100px;
  padding:30px;
 }
 #project img{
  height: 280px;
  float: right;
  margin-left: 20px;
  width:  25%;
}
.space{
  padding-top:40px;
}
#project a{
  text-decoration:none; 
}
  #contact img{
    height: 50px;
    padding:2px;
  }
  footer{
    background-color: #84ffff;
    margin-top: -2px;
    height: 400px;
    display: block;
  }
 
  .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 70px;
    text-align: center;
    overflow: hidden;
    background-color: #84ffff;


 
  }
  .nava{
  vertical-align: middle;
  margin-top: 20px; 
    
  }
    .navbar a {
      
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      text-align: center;
      padding:30px;
      margin: 5px;
    
    }
    
    .navbar a:hover {
      background-color: #baffff;
      color: black;
    }